<html lang>
<head>
    <meta charset = UTF-8>
    <title></title>
    {% load bootstrap3 %}<!-- 在你的settings.py的INSTALLED_APPS中添加bootstrap3  就可以load了 -->
    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>

<!-- 导航栏 -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
        {% for info in administrator_name %}
          <a class="navbar-brand" href="/administrator_member_list/">在线考试系统</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active">
              <li><a href="/administrator_member_list/">成员维护</a>-->      <!--“#”是默认当前页面，可以把#换成想跳转的页面-->
            <li><a href="/administrator_test_manage/">考务/课程/试题维护</a></li>
               <li><a href="/data_in/">数据录入</a></li>
            <li><a href="/event_manage/?userId={{ info.userId }}">论坛超管</a></li>
              <li><a href="/data_out/">数据备份</a></li>
              <li><a href="/administrator_feedback/">反馈检视</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
             <li><a href="">{{ info.userName }}</a></li>
            {% endfor %}
           <li><a href="/index/">注销</a></li>
         </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>



{% block content %}

<!--  如果你在当前模版页中定义了 block content 和 endblock ，那么它会覆盖掉父模版的content块的内容。 -->
{% endblock %}

{#    <div class="container theme-showcase" role="main">#}
{#      <div class="page-header">#}
{#      </div>#}
{#      <footer class="footer">#}
{#        <p>&copy; 在线考试系统</p>#}
{#      </footer>#}
{#    </div> <!-- /container -->#}

</html>
