{% block content %}
 <Br class="row" style="margin-top: 80px;margin-left: 80px">
<table class="table table-hover">
	<thead>
		<tr>
			<th class="text-dark"><h2>错误提示页面</h2></th>
		</tr>
	</thead>
	<tbody>
            <h1>账户或密码错误！</h1>
	</tbody>
</table>
 <center><a href="/administrator_index_adm/"><button class="btn btn-primary btn-lg" style="margin: 0px auto;">返回管理员登录</button></a></center>
     <Br></Br>
     <center><a href="/index/"><button class="btn btn-primary btn-lg" style="margin: 0px auto;">重新选择身份登录</button></a></center>
{% endblock %}