{% extends "administrator_login.html" %}

{% block content %}
{% for teacher in teacher_info %}
<div class="row" style="margin-top: 80px;margin-left: 80px">
<table class="table table-hover">
	<thead>
    <tr>
        <td class="text-dark">老师账号：{{ teacher.userId }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;老师姓名：{{ teacher.userName }}</td>
    </tr>
	</thead>
	<tbody>


        {#   循环输出所有课程，将参数传给course_forum，然后输出该课程的所有帖子     #}
        {#   get方法传参   #}
        <tr>
		<td><a href="/administrator_courselist_tea/?userId={{ teacher.userId }}">授课详情</a></td>
        </tr>
        <tr>
		<td><a href="/administrator_init_password/?userId={{ teacher.userId }}">密码重置</a></td>
        </tr>
        <tr>
		<td><a href="/administrator_forum_Qmanage/?userId={{ teacher.userId }}">论坛-发帖信息</a></td>
        </tr>
        <tr>
		<td><a href="/administrator_forum_Amanage/?userId={{ teacher.userId }}">论坛-回帖信息</a></td>
        </tr>
	</tbody>
</table>
{# <button  href="/index/" class="btn btn-primary btn-lg" style="margin: 0px auto;display: table;">返回上级页面</button>#}
 </div>
    <center><a href="/administrator_teacherlist/"><button class="btn btn-primary btn-lg" style="margin: 0px auto;">返回上级页面</button></a></center>
    {% endfor %}
{% endblock %}