{% extends "administrator_login.html" %}

{% block content %}
 <div class="row" style="margin-top: 80px;margin-left: 80px">
<table class="table table-hover">
	<thead>
		<tr>
			<th>教师账号</th>
            <th>教师名称</th>
		</tr>
	</thead>
	<tbody>
        {#   循环输出所有课程，将参数传给course_forum，然后输出该课程的所有帖子     #}
        {#   get方法传参   #}
        {% for info in teacher_info %}
        {% with i=contacts.number|add:"-1" %}
        {% widthratio i 1 10 as low %}
        {% with high=low|add:"11" %}
        {% with low=high|add:"-11" %}
        {% if forloop.counter > low and forloop.counter < high %}
        <tr>
        <td>{{ info.userId }}</td>
            {% for user in user_info %}
                {% if user.userId == info.userId %}
		        <td><a href="/administrator_teacher_details/?userId={{ user.userId }}">{{ user.userName}}</a></td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endif %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endfor %}
	</tbody>
</table>
 </div>

<center>
<div class="pagination">
    <span class="step-links">
        {% if contacts.has_previous %}
            <td><a href="/administrator_teacherlist/?userId={{ userId }}&page={{ contacts.previous_page_number }}">上一页</a></td>
        {% endif %}

        <span class="current">
            <td>{{ contacts.number }}</td>
    {#            Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.#}
        </span>

        {% if contacts.has_next %}
            <td><a href="/administrator_teacherlist/?userId={{ userId }}&page={{ contacts.next_page_number }}">下一页</a></td>
        {% endif %}
    </span>
</div>
</center>
            <center><a href="/administrator_member_list/"><button class="btn btn-primary btn-lg" style="margin: 0px auto;">返回上级页面</button></a></center>
{% endblock %}