{% extends "administrator_login.html" %}

{% block content %}
<div class="row" style="margin-top: 80px;margin-left: 80px">
<table class="table table-hover">
	<thead>
        <tr>
            <td>
                <h5>警告：您的删除操作可能会带来十分严重的后果。</h5>
            </td>
        <tr>
            <td>
                <h5>请您谨慎检查要删除的信息是否有误。</h5>
            </td>
        </tr>
	</thead>
    <tbody>
            <tr>
                <th>主帖标题</th>
                <th>回帖内容</th>
                <th>回帖时间</th>
                <th>回帖板块</th>
                <th>回帖人</th>
            <tr>
                {% for answer in get_forum_a %}
                    {% for post in get_forum_q %}
                        <td class="active">{{ post.postId }}:&nbsp;&nbsp;&nbsp;&nbsp;{{ post.title }}</td>
                    {% endfor %}
                    <td>{{ answer.content }}</td>
                    <td>{{ answer.answerTime }}</td>
                    {% for post in get_forum_q %}
                        {% for course in course_info %}
                            <td>{{ course.courseName }}</td>
                        {% endfor %}
                    {% endfor %}
                    {% for person in user_info %}
                        <td>{{ person.userName }}</td>
                    {% endfor %}
                {% endfor %}
                {% for answer in get_forum_a %}
                    <td><a href="/administrator_forum_A_delete_succeed/?postId={{ answer.postId }}&content={{ answer.content }}"><button class="btn btn-primary btn-lg" style="margin: 0px auto;">删除本回复</button></a></td>
                {% endfor %}
            </tr>
    </tbody>
</table>
</div>


{% for user in user_info %}
    {% if user.userType == 2 %}
    <center><a href="/administrator_forum_Amanage/?userId={{ user.userId }}"><button class="btn btn-primary btn-lg" style="margin: 0px auto;">查看用户其他回帖信息</button></a></center>
    {% elif user.userType == 3 %}
    <center><a href="/administrator_forum_Amanage/?userId={{ user.userId }}"><button class="btn btn-primary btn-lg" style="margin: 0px auto;">查看用户其他回帖信息</button></a></center>
    {% endif %}
{% endfor %}
    <Br>
    <Br>
{% for info in get_forum_a %}
        <center><a href="/course_post/?postId={{ info.postId }}&courseId={{ get_course_id }}"><button class="btn btn-primary btn-lg" style="margin: 0px auto;">在论坛中查看</button></a></center>
{% endfor %}
{% endblock %}