{% extends "administrator_login.html" %}

{% block content %}
 <div class="row" style="margin-top: 80px;margin-left: 80px">
<table class="table table-hover">
	<thead>
        <tr>
            <td>
                <div>
                <form class="bs-example bs-example-form" role="form" method="post">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="input-group">
                            <input type="text" class="form-control" id="teacher" name="teacher">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">搜索老师</button>
                            </span>
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
                </form>
                </div>
            </td>
		<tr>
			<th>教师账号</th>
            <th>教师名称</th>
		</tr>
	</thead>
	<tbody>
        {#   循环输出所有课程，将参数传给course_forum，然后输出该课程的所有帖子     #}
        {#   get方法传参   #}
        {% for teacher in teacher_info %}
        {% with i=contacts.number|add:"-1" %}
        {% widthratio i 1 10 as low %}
        {% with high=low|add:"11" %}
        {% with low=high|add:"-11" %}
        {% if forloop.counter > low and forloop.counter < high %}
        <tr>
        <td>{{ teacher.userId }}</td>
        <td>{{ teacher.passWord }}</td>
        <td><a href="/administrator_teacher_details/?userId={{ teacher.userId }}">{{ teacher.userName}}</a></td>
        <td><a href="/administrator_teacher_delete/?userId={{ teacher.userId }}&page={{ contacts.number }}">
                                <button class="btn btn-primary btn-lg" style="margin: 0px auto;">删除</button></a></td>
        </tr>
        {% endif %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endfor %}
	</tbody>
</table>
 </div>

    {% if keyword %}
        <center>
        <div class="pagination">
            <span class="step-links">
                {% if contacts.has_previous %}
                    <td><a href="/administrator_teacherlist/&page={{ contacts.previous_page_number }}&keyword={{ keyword }}">上一页</a></td>
                {% endif %}

                <span class="current">
                    <td>{{ contacts.number }}</td>
                        Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}
                </span>

                {% if contacts.has_next %}
                    <td><a href="/administrator_teacherlist/&page={{ contacts.next_page_number }}&keyword={{ keyword }}">下一页</a></td>
                {% endif %}
            </span>
        </div>
        </center>
    {% else %}
        <center>
        <div class="pagination">
            <span class="step-links">
                {% if contacts.has_previous %}
                    <td><a href="/administrator_teacherlist/&page={{ contacts.previous_page_number }}&keyword={{ keyword }}">上一页</a></td>
                {% endif %}

                <span class="current">
                    <td>{{ contacts.number }}</td>
                        Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}
                </span>

                {% if contacts.has_next %}
                    <td><a href="/administrator_teacherlist/&page={{ contacts.next_page_number }}&keyword={{ keyword }}">下一页</a></td>
                {% endif %}
            </span>
        </div>
        </center>
    {% endif %}
            <center><a href="/administrator_member_list/"><button class="btn btn-primary btn-lg" style="margin: 0px auto;">返回上级页面</button></a></center>
            <center>
    <form  method="post" action="/administrator_teacherlist/?page={{ contacts.paginator.num_pages }}">
        {% csrf_token %}
            <div class="form-group">
                <label>教&nbsp;&nbsp;&nbsp;&nbsp;师&nbsp;&nbsp;&nbsp;&nbsp;账&nbsp;&nbsp;&nbsp;&nbsp;号</label>
                <input type="text" class="form-control" id="id" name="id" placeholder="请填入纯数字" required>
            </div>
            <div class="form-group">
                 <label>姓&nbsp;&nbsp;&nbsp;&nbsp;名</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="教师姓名" required>
            </div>
            <div class="form-group">
                <label>密&nbsp;&nbsp;&nbsp;&nbsp;码</label>
                <input type="text" class="form-control" id="password" name="password" placeholder="教师密码" required>
            </div>
                <button class="btn btn-primary btn-lg" type="submit">提 交</button>
            <div id="form-messages"></div>
    </form>
    </center>
{% endblock %}