{% extends "administrator_login.html" %}

{% block content %}
<div class="row" style="margin-top: 80px;margin-left: 80px">
<table class="table table-hover">
	<thead>
        <tr>
            <td>
                <h5>警告：您的删除操作可能会带来十分严重的后果。</h5>
            </td>
        <tr>
            <td>
                <h5>请您谨慎检查要删除的信息是否有误。</h5>
            </td>
        </tr>
	</thead>
    <tbody>
        {% for post in get_forum_q %}
        <tr>
            <th>主帖标题</th>
            <td class="active">{{ post.postId }}:&nbsp;&nbsp;&nbsp;&nbsp;{{ post.title }}</td>
        <tr>
            {% for user in user_info %}
                <th>发帖人</th>
                <td>{{ user.userName }}</td>
                <th>发帖身份</th>
                {% if user.userType == 1 %}
                    <td>管理员</td>
                {% elif user.userType == 2 %}
                    <td>教师</td>
                {% elif user.userType == 3 %}
                    <td>学生</td>
                {% endif %}
            {% endfor %}
        <tr>
            <th>发帖时间</th>
            <td>{{ post.postTime }}</td>
        <tr>
            <th>主帖内容</th>
            <td>{{ post.content }}</td>
        <tr>
            <th>发帖板块</th>
            {% for course in course_info %}
                <td>{{ course.courseName }}</td>
            {% endfor %}
        <tr>
            <th>回帖数量</th>
            <td>{{ post.answerNum }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>


{% for user in user_info %}
    {% if user.userType == 2 %}
    <center><a href="/administrator_forum_Qmanage/?userId={{ user.userId }}"><button class="btn btn-primary btn-lg" style="margin: 0px auto;">查看用户其他发帖信息</button></a></center>
    {% elif user.userType == 3 %}
    <center><a href="/administrator_forum_Qmanage/?userId={{ user.userId }}"><button class="btn btn-primary btn-lg" style="margin: 0px auto;">查看用户其他发帖信息</button></a></center>
    {% endif %}
{% endfor %}
    <Br>
    <Br>
    <center><td><a href="/administrator_forum_Q_delete_succeed/?postId={{ post_id }}&courseId={{ get_course_id }}"><button class="btn btn-primary btn-lg" style="margin: 0px auto;">删除本贴</button></a></td></center>
    <Br>
    <Br>
{% for info in get_forum_q %}
        <center><a href="/course_post/?postId={{ info.postId }}&courseId={{ get_course_id }}"><button class="btn btn-primary btn-lg" style="margin: 0px auto;">在论坛中查看</button></a></center>
{% endfor %}
{% endblock %}