{% extends "forum_base.html" %}




{% block content %}
     <div class="row" style="margin-top: 80px;margin-left: 80px">

        <div>
	    <form class="bs-example bs-example-form" role="form" method="post">
		<div class="row">
			<div class="col-lg-4">
				<div class="input-group">
					<input type="text" class="form-control" id="message" name="message">
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit">搜索</button>
					</span>
				</div><!-- /input-group -->
			</div><!-- /.col-lg-6 -->
		</div><!-- /.row -->
	    </form>
        </div>

<table class="table table-hover">
	<thead>
		<tr>
			<th class="text-dark"><h2>帖子</h2></th>
		</tr>
	</thead>
	<tbody>
        {#利用循环输出所有该课程的帖子,然后将参数传递到course_post,然后根据课程名输出相关帖子的信息#}
        {#get方法传参#}

        {% for post_question_top in post_question_top_info %}
        <tr>
		<td><a href="/course_post/?postId={{ post_question_top.postId }}&courseId={{ courseId }}">{{ post_question_top.title}}</a></td>
        <td><a href="/stop_top_post/?postId={{ post_question_top.postId }}&courseId={{ courseId }}">取消置顶</a></td>
        </tr>
        {% endfor %}

        {% for post_question in post_question_info %}
        <tr>
		<td><a href="/course_post/?postId={{ post_question.postId }}&courseId={{ courseId }}">{{ post_question.title}}</a></td>
        <td><a href="/top_post/?postId={{ post_question.postId }}&courseId={{ courseId }}">置顶</a></td>
        </tr>
        {% endfor %}

	</tbody>
</table>
    <div class="text-center">
        <a  href="/new_post/?courseId={{ courseId }}" class="btn btn-primary btn-lg" style="margin: 0px auto;">我要发帖</a>
        <a  href="/event_manage/" class="btn btn-primary btn-lg" style="margin: 0px auto;">返回</a>
    </div>
 </div>

{% endblock %}