{% extends "base.html" %}




{% block content %}
 <div class="row" style="margin-top: 80px;margin-left: 80px">
<table class="table table-hover">
	<thead>
		<tr>
			<th class="text-dark"><h2>帖子</h2></th>
		</tr>
	</thead>
	<tbody>
        {#利用循环输出所有该课程的帖子,然后将参数传递到course_post,然后根据课程名输出相关帖子的信息#}
        {#get方法传参#}
        <tr>
		    <td><a href="/course_post/">帖子一</a></td>
        </tr>
        <tr>
		    <td><a href="/course_post/">帖子二</a></td>
        </tr>
	</tbody>
</table>
 <button  href="/index/" class="btn btn-primary btn-lg" style="margin: 0px auto;display: table;">返回主页</button>
 </div>
{% endblock %}