{% extends "administrator_login.html" %}




{% block content %}


    <body>
    <div class="row" style="margin-top: 80px;margin-left: 80px">
    <section id="contact-area"  >
        <div class="container"><!--end section heading-->
            <div class="row">
                <div class="col-lg-10 offset-lg-1"><!--start contact form-->
                    <div class="contact-box text-center">
                        <form  method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" name="path" value="请手动输入导出的路径">
                                <select name="table">
                                    <option value="none">--选择要导出的数据表--</option>
                                    {% for table in tables %}
                                    <option value={{ forloop.counter0 }}>{{ table }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg">开始导出</button>
                            <div id="form-messages"></div>
                        </form>
                    </div><!--end contact form-->
                </div>
            </div>
        </div>
    </section>
    </div>
    </body>

{% endblock %}