{% extends "student_login.html" %}




{% block content %}
 <div class="row" style="margin-top: 80px;margin-left: 80px">
<table class="table table-hover">
	<thead>
		<tr>
			<th class="text-dark"><h2>待考课程</h2></th>
		</tr>
	</thead>
	<tbody>
        {#   循环输出所有课程，将参数传给course_forum，然后输出该课程的所有帖子     #}
        {#   get方法传参   #}
        <tr>
		<td><a href="/start_exam/">课程一</a></td>
        </tr>
        <tr>
		<td><a href="/start_exam/">课程二</a></td>
        </tr>
	</tbody>
</table>
 <button  href="/index/" class="btn btn-primary btn-lg" style="margin: 0px auto;display: table;">返回主页</button>
 </div>
{% endblock %}