{% extends "student_login.html" %}




{% block content %}
 <div class="row" style="margin-top: 80px;margin-left: 80px">
<table class="table table-hover">
	<thead>
		<tr>
			<th>课程编号</th>
            <th>课程名称</th>
		</tr>
	</thead>
	<tbody>
        {#   循环输出所有课程，将参数传给course_forum，然后输出该课程的所有帖子     #}
        {#   get方法传参   #}
        {% for info in exam_course_info %}
        <tr>
        <td>{{ info.courseId }}</td>
            {% for course in course_info %}
                {% if course.courseId == info.courseId %}
		        <td><a href="/exam_details/?courseId={{ course.courseId }}">{{ course.courseName}}</a></td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
	</tbody>
</table>
 </div>
{% endblock %}