<center>
{% block content %}
	<Br></Br><Br></Br><Br></Br>
            <h1>在线考试系统</h1><Br></Br>
    <thead>
		<tr>
			<th class="text-dark"><h2>请选择您的身份进行登录</h2></th>
		</tr>
	</thead>
	<tbody>
        <tr>
		<td><a href="/administrator_index_stu/"><button class="btn btn-primary btn-lg" style="margin: 0px auto;">学生登录</button></a></td>
        </tr>
        <tr>
		<td><a href="/administrator_index_tea/"><button class="btn btn-primary btn-lg" style="margin: 0px auto;">教师登录</button></a></td>
        </tr>
        <tr>
		<td><a href="/administrator_index_adm/"><button class="btn btn-primary btn-lg" style="margin: 0px auto;">管理员登录</button></a></td>
        </tr>
	</tbody>
{% endblock %}
</center>