{% extends "administrator_login.html" %}

{% block content %}
    <script>
        function download_excel()
        {
            document.getElementById("btn").click()
        }
    </script>
    <body onload="download_excel();">
        <div class="row" style="margin-top: 80px;margin-left: 80px">
        <a id="btn" href="/file/考试名单.xls" download="考试名单"> 点击下载考生名单 </a>
        </div>
    </body>

    <center>
         <a href="/course_name/?courseId={{ course_id }}"><button class="btn btn-primary btn-lg" style="margin: 0px auto;">返回上级页面</button></a></center>


{% endblock %}