{% extends "teacher_login.html" %}



{% block content %}
 <div class="row" style="margin-top: 80px;margin-left: 80px">
<table class="table table-hover">
	<thead>
		<tr>
			<th>题目编号</th>
            <th>是否正确</th>
            <th>考试类型</th>        {#   第一次月考、期中考、第二次月考、期末考
		</tr>
	</thead>
	<tbody>
{#        利用循环输出所有该课程的帖子,然后将参数传递到course_post,然后根据课程名输出相关帖子的信息#}
{#        get方法传参#}
        {% for info in exam_info %}
          <tr>
          <td>{{ forloop.counter }}</td>
          {% if info.isRight == 1 %}
		  <td>正确</td>
          {% endif %}
          {% if info.isRight == 0 %}
		  <td>错误</td>
          {% endif %}
          {% if info.type == 1 %}
		  <td>选择题</td>
          {% endif %}
          {% if info.type == 2 %}
		  <td>填空题</td>
          {% endif %}
           </tr>
        {% endfor %}
	</tbody>
</table>
     <center><a href="/first_exam/?courseId={{ course_id }}"><button class="btn btn-primary btn-lg" style="margin: 0px auto;">返回上级页面</button></a></center>
 </div>
{% endblock %}