{% extends "teacher_login.html" %}



{% block content %}
 <div class="row" style="margin-top: 80px;margin-left: 80px">
<table class="table table-hover">
	<thead>
        {% for name in course_name %}
        <tr>
            <th>第二次月考</th>
            <th>{{ name.courseName }}</th>
        </tr>
        {% endfor %}
		<tr>
			<th>学生编号</th>
            <th>学生姓名</th>
{#            <th>考试类型</th>        {#   第一次月考、期中考、第二次月考、期末考   #}
            <th>成绩</th>
		</tr>
	</thead>
	<tbody>
        {#利用循环输出所有该课程的帖子,然后将参数传递到course_post,然后根据课程名输出相关帖子的信息#}
        {#get方法传参#}
        {% for info in exam_info %}
        {% with i=contacts.number|add:"-1" %}
        {% widthratio i 1 10 as low %}
        {% with high=low|add:"11" %}
        {% with low=high|add:"-11" %}
        {% if forloop.counter > low and forloop.counter < high %}
        <tr>
        <td>{{ info.studentId }}</td>
            {% for student in student_info %}
                {% if student.userId == info.studentId and  info.isOver == 2  %}
		        <td><a href="/student_detail3/?studentId={{ student.userId }}&examId={{ info.examId }}&courseId={{ course_id }}">{{ student.userName}}</a></td>
                <td>{{ info.score }}</td>
                {% endif %}
                {% if student.userId == info.studentId and  info.isOver == 1  %}
                <td>{{ student.userName}}</td>
                <td>未开始考试</td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endif %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endfor %}
	</tbody>

</table>
 </div>
	</tbody>
<center>
<div class="pagination">
    <span class="step-links">
        {% if contacts.has_previous %}
            <td><a href="/third_exam/?page={{ contacts.previous_page_number }} & courseId={{ course_id }}">上一页</a></td>
        {% endif %}

        <span class="current">
            <td>{{ contacts.number }}</td>
    {#            Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.#}
        </span>

        {% if contacts.has_next %}
            <td><a href="/third_exam/?page={{ contacts.next_page_number }} & courseId={{ course_id }}">下一页</a></td>
        {% endif %}
    </span>
</div>
</center>

</table>
     <center><a href="/exam_number/?courseId={{ course_id }}"><button class="btn btn-primary btn-lg" style="margin: 0px auto;">返回上级页面</button></a></center>
 </div>
{% endblock %}